.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--dusk-09);
  color: var(--fg-default);
  font-size: 1rem;
  font-family: var(--primary-font);
}

.search-input::placeholder {
  color: var(--dusk-50);
}

.search-btn {
  padding: 0.625rem 1.5rem;
  background-color: var(--hyper-10);
  color: var(--base-white);
  border: 1px solid var(--hyper-05);
  border-radius: 5px;
  font-weight: 500;
  font-family: var(--primary-font);
  transition:
    background-color 0.2s,
    border-color 0.2s;
  white-space: nowrap;
}

.search-btn:hover {
  background-color: var(--hyper-09);
  border-color: var(--hyper-06);
}

@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

.loading {
  text-align: center;
}

.race-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.driver-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  /* height: 100px; */
  box-sizing: border-box;
}
